body, html {
    margin:0;
    padding:0;
    font-family:Verdana,Geneva,sans-serif;
    background: none repeat scroll 0 0 #FFCC99;
}

#wrap {
    width:950px;
    margin:0 auto;
    background: none repeat scroll 0 0 #FF6633;
}

#header {
    padding:5px 10px;
    background:#FF6633;
    height: 50px;
    line-height: 50px;
}

#header a.logout {
    float:right;
}

h1 {
    margin:0;
}

#nav {
    padding:5px 10px 5px 0;
    height: 30px;
    background: none repeat scroll 0 0 #FF9966;
}

#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

#nav li {
    display:inline;
    margin:0;
    padding: 0 15px 0 15px;
    line-height: 30px;
    
}

#main {
    float:right;
    width:770px;
    padding:10px;
    /* margin-bottom: 20px; */
    background: none repeat scroll 0 0 #FFCC66;
}

form input[type="submit"] {
    background: none repeat scroll 0 0 #FFDD19;
    border: 3px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    color: #2C599E;
    font-weight: bold;
    padding: 5px 15px; 
    cursor: pointer;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background: #FF6633;
}
    
#wide-main {
    float:right;
    width:930px;
    padding:10px;
    background: none repeat scroll 0 0 #FFCC66;
}

#breadcrumb {
    /* background: none repeat scroll 0 0 #FF9933; */
    margin-bottom: 10px;
}

table.data {
    width: 100%;
}

table.data tr {
    background-color: #FF9933;
}

table.data tr.altrow {
    background-color: #FF9966;
}

h2 {
    margin:0 0 1em;
}

#sidebar {
    float:left;
    width:150px;
    padding:10px 10px 10px 0;
    background:none repeat scroll 0 0 #FF6633;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 10px;
}

#sidebar ul li {
    margin-bottom: 5px;
    background: none repeat scroll 0 0 #FF9966;
}

#footer {
    clear:both;
    padding:5px 10px;
    background:none repeat scroll 0 0 #FF6633;
    height: 50px;
}

#footer p {
    margin: 0;
    line-height: 50px;
}

* html #footer {
    height:1px;
}

div#spinner
{
    display: none;
    width:114px;
    height: 114px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.input label {
    display: block;
    float: left;
    width: 100px;
}

.input input[type="text"], .input textarea, .input input[type="password"] {
    width:300px;
}

.input select {
    min-width: 300px;
}

#flashMessage {
    background-color: #FFAA77;
    color: red;
    display: block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.message {
    color: red;
}

.error-message {
    /* background-color: red;
    color: white;  */
    color: red;
    margin: 2px 0;
    padding: 5px;    
}

a:link {
    text-decoration: none;
    color: blue;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:active {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline; 
    color: blue;
}

a.add-button {
    background: none repeat scroll 0 0 #FF9933;
    border: 3px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    color: #2C599E;
    font-weight: bold;
    padding: 5px 15px;   
}

.actions ul {
    list-style: none outside none;    
}

#main form {
  margin-top: 10px;    
}

#main form fieldset legend {
    background-color: #FFAA77;
    border: thin none;
    color: black;
}